*.swp
.svn
node_modules
package.json.pl
.DS_Store
.idea
lcov*
lib/.DS_Store
results.xml
report.*
coverage
npm-debug.log
tmp/arrow_server.status
tmp/*.js
tmp/*.json
tests/functional/report.xml
tests/functional/data/arrow_test/*-report.xml
tests/functional/data/arrow_test/*-report.html
tests/functional/data/arrow_test/*-report.json
tests/functional/data/actual_op/*.txt
